# logs
logs/
*.log

# local backup
*.bak

# mock data daily output
database/mock_data/csv/daily/

# Secrets
.env

# Airflow runtime
airflow/
airflow.db
airflow.cfg
airflow-webserver.pid
git
# Python
__pycache__/
*.pyc

# ML prediction outputs
analytics_platform/*pred*.csv
analytics_platform/batch_pred_*.csv

# User / local config
analytics_platform/.user.yml

# MLflow / runtime
mlruns/
logs/